.card.w-96.bg-base-100.shadow-xl {
  width: 500px;

  background-color: rgba(255, 255, 255, 0.774);

}
.span-error {
  font-size: 13px;

}
img {
  width: 30px;
  height: auto;
}
.background {

  background-color: rgba(255, 255, 255, 0.644);
  background-blend-mode: overlay;

}
.bg-a
{
  color: #726052;
}
.colors {
  background-color: #F4F2E9;
  color: #726052;
  border-color: #D2D4D7 ;
}
.link {
  color: #726052;
  ;
  transition: color 0.5s ease

}
