
.background {

  background-color:rgba(255, 255, 255, 0.644);
  background-blend-mode: overlay;

}
.bg-base-100 {

  background-color: rgba(255, 255, 255, 0.774);

}
.bg-a
{
  color: #726052;
}
.colors {
  background-color: #F4F2E9;
  color: #726052;
  border-color: #D2D4D7 ;
}
